<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecuritySystemMovil"
        tools:targetApi="31">
        <activity
            android:name=".presentacion.Pnavegacion"
            android:exported="false" />
        <activity
            android:name=".presentacion.PcambioConductor"
            android:exported="false" />
        <activity
            android:name=".presentacion.PfinViaje"
            android:exported="false" />
        <activity
            android:name=".presentacion.PpreViaje"
            android:exported="false" />
        <activity
            android:name=".presentacion.Perror.PsinViaje"
            android:exported="false" />
        <activity
            android:name=".presentacion.Perror.PvehiculoIncorrecto"
            android:exported="true" />
        <activity
            android:name=".presentacion.PshowVehiculo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentacion.PeditVehiculo"
            android:exported="true" />
        <activity
            android:name=".presentacion.PloginFacial"
            android:exported="true" />
        <activity
            android:name=".presentacion.Pvelocidad"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCgiLS3a1Rq5YKPkvaCentLKoV1o6256ek" />

        <activity
            android:name=".presentacion.Pruta"
            android:exported="true" />
        <activity
            android:name=".presentacion.Psomnolencia"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <service
            android:name=".dato.Seguimiento.SeguimientoService"
            android:exported="false" />
    </application>

</manifest>